@model CS460FallFinal.Models.ViewModels.Item_Bid_VM

@{
    ViewBag.Title = "Index";
}

<h2 id="ItemIndex">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row container-fluid">
    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Seller
            </th>
            <th>
                Item Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SELLER1.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DECRIPTION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
        }

    </table>
</div>

<div class="row container-fluid">
    <table class="BidTable table">
        <tr>
            <th>
                Item
            </th>
            <th>
                Bidder
            </th>
            <th>
                Price
            </th>
            <th>
                Time
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.CurrentBids)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BUYER1.NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ITEM1.NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRICE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIME)
                </td>
            </tr>
        }
        </table>
</div>

<script type="text/javascript">
    function ajax_call() {
        $.ajax({
            url: "/ITEMs/UpdateBids",
            type: "GET",
            dataType: "string",
            success: function (data) {
                alert("Success");
                for (var i = 0; i < data.length; ++i)
                {
                    $('.BidTable').prepend(data[i].BUYER1.NAME);
                }
            },
            error: function () {
                alert("Failed");
            }
        });
    }

    window.setInterval(ajax_call, 5000);
</script>

<!---
<script type="text/javascript">
    function updateBids() {
        $.ajax({
            url: "/ITEMs/UpdateBids",
            type: "POST",
            dataType: 'json',
            success: function (data) {
                alert("Success");
            },
            error: function () {
                alert("Failed");
            }
        });
    }

    var interval = 1000 * 5;

    window.setInterval(updateBids(), interval);
</script> -->