@model CS460FallFinal.Models.BID

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BUYER1.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUYER1.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM1.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM1.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
